@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Typography */
    h1,
    .h1,
    h2,
    .h2 {
        @apply mb-6 leading-none font-semibold;
    }
    h3,
    .h3,
    h4,
    .h4 {
        @apply mb-4 leading-tight font-normal;
    }
    h5,
    .h5,
    h6,
    .h6 {
        @apply mb-3 leading-normal font-semibold uppercase;
    }
    p:first-child {
        @apply mt-0;
    }
    p:last-child {
        @apply mb-0;
    }
    h1 .font-serif, 
    .h1 .font-serif,
    h2 .font-serif, 
    .h2 .font-serif {
        @apply text-3xl leading-none;
    }

    /* Elements */
    b, strong {
        @apply font-semibold;
    }
    ul, 
    ol {
        @apply pl-6;
    }
}

@layer components {
    /* Container */
    .container {
        @apply mx-auto px-xs;
        max-width: calc(var(--container-width) + var(--spacing--xs) * 2);
    }

    /* Buttons */
    /* Images are linked in elements/_buttons.css */
    .button { 
        @apply relative inline-flex items-center py-1.5 pl-7 pr-2.5 border border-solid border-teal rounded-[70px] bg-teal text-white font-semibold transition duration-300;
    }
    .button::after {
        @apply content-[''] inline-block shrink-0 ml-4 w-11 h-11 bg-current;
    }
    .button:hover { 
        border-color: color-mix(in srgb, var(--color--teal), #000 25%);
        background-color: color-mix(in srgb, var(--color--teal), #000 25%);
    }
    .button.back {
        @apply py-1.5 pl-2.5 pr-7;
    }
    .button.back::after {
        @apply order-first ml-0 mr-4 rotate-180;
    }
    .button.alt {
        @apply border-mid-gray bg-white text-teal;
    }
    .button.alt:hover {
        @apply border-teal bg-teal text-white;
    }
    .button.simple {
        @apply p-0 border-0 bg-transparent text-teal font-normal;
    }
    .button.simple::after {
        @apply -order-1 ml-0 mr-3 w-3.5 h-3.5;
    }
    .button.simple:hover {
        @apply bg-transparent;
        color: color-mix(in srgb, var(--color--teal), #000 25%);
    }

    /* Header */
    nav ul {
        @apply m-0 p-0 list-none;
    }

    /* Footer */
    #footer ul { 
        @apply m-0 p-0 list-none;
    }
    #footer a {
        @apply text-white;
    }
    #footer #nav-explore a,
    #footer #nav-about a { 
        @apply underline;
    }
}

/* Clip paths */
.curve-clip {
    @apply mt-[10%];
}
.curve-clip::before {
    @apply content-[''] absolute bottom-full left-0 -mb-px w-full aspect-[1/0.1] bg-inherit;
    clip-path: polygon(19.241% 6.45%,19.241% 6.45%,17.438% 6.62%,15.587% 7.121%,13.697% 7.938%,11.774% 9.058%,9.828% 10.468%,7.865% 12.154%,5.893% 14.102%,3.92% 16.298%,1.953% 18.73%,0% 21.382%,0% 100%,100% 100%,100% 96.889%,100% 96.889%,99.211% 97.356%,98.415% 97.775%,97.613% 98.147%,96.804% 98.47%,95.988% 98.745%,95.164% 98.971%,94.333% 99.147%,93.495% 99.273%,92.648% 99.35%,91.794% 99.375%,91.794% 99.375%,86.903% 98.707%,82.457% 96.797%,78.407% 93.789%,74.706% 89.826%,71.307% 85.051%,68.163% 79.608%,65.227% 73.64%,62.451% 67.29%,59.788% 60.702%,57.19% 54.018%,57.169% 53.964%,57.126% 53.852%,57.126% 53.852%,54.41% 46.871%,51.614% 39.988%,48.68% 33.353%,45.546% 27.116%,42.154% 21.427%,38.445% 16.435%,34.359% 12.292%,29.836% 9.147%,24.816% 7.149%,19.241% 6.45%);
}
.image-clip {
    clip-path: polygon(0% 2.892%,0% 100%,100% 100%,100% 14.206%,100% 14.206%,99.378% 14.263%,97.576% 14.371%,94.69% 14.439%,90.816% 14.371%,86.052% 14.077%,80.492% 13.462%,74.234% 12.434%,67.374% 10.9%,60.008% 8.767%,52.232% 5.942%,52.232% 5.942%,43.777% 3.119%,35.75% 1.299%,28.26% 0.315%,21.416% 0.002%,15.326% 0.192%,10.099% 0.721%,5.844% 1.422%,2.67% 2.128%,0.686% 2.673%,0% 2.892%);
}

/* Vue and Alpine */
[v-cloak], 
[x-cloak] {
    @apply !hidden;
}