@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Typography */
    h1,
    .h1,
    h2,
    .h2 {
        @apply mb-6 leading-none font-semibold;
    }
    h3,
    .h3,
    h4,
    .h4 {
        @apply mb-4 leading-tight font-normal;
    }
    h5,
    .h5,
    h6,
    .h6 {
        @apply mb-3 leading-normal font-semibold uppercase;
    }
    p:first-child {
        @apply mt-0;
    }
    p:last-child {
        @apply mb-0;
    }
    h1 .font-serif, 
    .h1 .font-serif,
    h2 .font-serif, 
    .h2 .font-serif {
        @apply text-3xl leading-none;
    }

    /* Elements */
    b, strong {
        @apply font-semibold;
    }
    ul, 
    ol {
        @apply pl-6;
    }
}

@layer components {
    /* Container */
    .container {
        @apply mx-auto px-xs;
        max-width: calc(var(--container-width) + var(--spacing--xs) * 2);
    }

    /* Buttons */
    /* Images are linked in elements/_buttons.css */
    .button { 
        @apply relative inline-flex items-center py-1.5 pl-7 pr-2.5 border border-solid border-teal rounded-[70px] bg-teal text-white font-semibold transition duration-300;
    }
    .button::after {
        @apply content-[''] inline-block shrink-0 ml-4 w-11 h-11 bg-current;
    }
    .button:hover { 
        border-color: color-mix(in srgb, var(--color--teal), #000 25%);
        background-color: color-mix(in srgb, var(--color--teal), #000 25%);
    }
    .button.back {
        @apply py-1.5 pl-2.5 pr-7;
    }
    .button.back::after {
        @apply order-first ml-0 mr-4 rotate-180;
    }
    .button.alt {
        @apply border-mid-gray bg-white text-teal;
    }
    .button.alt:hover {
        @apply border-teal bg-teal text-white;
    }
    .button.simple {
        @apply p-0 border-0 bg-transparent text-teal font-normal;
    }
    .button.simple::after {
        @apply -order-1 ml-0 mr-3 w-3.5 h-3.5;
    }
    .button.simple:hover {
        @apply bg-transparent;
        color: color-mix(in srgb, var(--color--teal), #000 25%);
    }

    /* Header */
    nav ul {
        @apply m-0 p-0 list-none;
    }
}

/* Vue and Alpine */
[v-cloak], 
[x-cloak] {
    @apply !hidden;
}