.button::after {
  -webkit-mask: url({{ get_asset_url('/anwyl-homes/images/icons/arrow-right-circle.svg') }}) no-repeat 50% 50%;
  mask: url({{ get_asset_url('/anwyl-homes/images/icons/arrow-right-circle.svg') }}) no-repeat 50% 50%;
}

.button.simple::after {
  -webkit-mask: url({{ get_asset_url('/anwyl-homes/images/icons/arrow-right.svg') }}) no-repeat 50% 50%;
  mask: url({{ get_asset_url('/anwyl-homes/images/icons/arrow-right.svg') }}) no-repeat 50% 50%;
}

/* No button */

.no-button,
.no-button:hover,
.no-button:focus,
.no-button:active {
  background: none;
  border: none;
  border-radius: 0;
  color: initial;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: none;
}
