/* Fonts */

@font-face { 
  font-family: 'Baloo 2'; 
  src: url('https://25607454.fs1.hubspotusercontent-eu1.net/hubfs/25607454/baloo-2-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face { 
  font-family: 'Baloo 2'; 
  src: url('https://25607454.fs1.hubspotusercontent-eu1.net/hubfs/25607454/baloo-2-semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face { 
  font-family: 'Caveat'; 
  src: url('https://25607454.fs1.hubspotusercontent-eu1.net/hubfs/25607454/caveat-bold.woff2') format('woff2');
  font-weight: 700;
}

/* The overflow-wrap is meant to prevent long/large words from breaking the mobile responsiveness of a page (e.g. horizontal scrolling). It is preferred to reduce font sizes on mobile to address this, with this CSS specifically helping with extreme scenarios where a reduction in font size is not possible. */

body {
  line-height: 1.5;
  overflow-wrap: break-word;
}

/* Handles word breaking for a few specific languages which handle breaks in words differently. If your content is not translated into these languages, you can safely remove this.  */

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  overflow-wrap: normal;
  word-break: break-all;
}

/* Anchors */

a {
  cursor: pointer;
}

/* Lists */

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 0.7rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}
