{# Social links #}

<div class="social-links">

  {# Loops through each social link in the social links repeater #}

  {% for item in module.social_links %}

    {# Sets attributes used for the link field #}

    {% set href = item.social_link.url.href %}
    {% if item.social_link.url.type == "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
    {% set rel = [] %}
    {% if item.social_link.no_follow %}
      {% do rel.append("nofollow") %}
    {% endif %}
    {% if item.social_link.open_in_new_tab %}
      {% do rel.append("noopener") %}
    {% endif %}

    {# Sets a custom icon if the custom option is selected #}

    {% set social_icon = item.social_account|replace("-", " ") %}

    {# Icon #}

    <a class="social-links__link" href="{{ href }}"
    {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}>
      {% icon
        extra_classes="social-links__icon",
        name="{{ social_icon }}",
        icon_set="fontawesome-6.4.2"
        purpose="semantic",
        style="SOLID",
        unique_in_loop=True
      %}
      
      {{ item.title }}
    </a>

  {% endfor %}

</div>
