{% import './tools/_macros.css' %}

:root {
    /* Containers */
    --container-width: {{ theme.spacing.maximum_content_width ~ 'px' }};
    --dnd-section-padding: {{ theme.spacing.vertical_spacing ~ 'px ' }};
    --dnd-section-padding-mobile: {{ theme.spacing.vertical_spacing_mobile ~ 'px ' }};
    
    /* Colors */
    --color--navy: {{ theme.colors.navy.color }};
    --color--teal: {{ theme.colors.teal.color }};
    --color--bronze: {{ theme.colors.bronze.color }};
    --color--green: {{ theme.colors.green.color }};
    --color--stone: {{ theme.colors.stone.color }};
    --color--light-stone: {{ theme.colors.light_stone.color }};
    --color--black: {{ theme.colors.black.color }};
    --color--mid-gray: {{ theme.colors.mid_gray.color }}; 
    --color--white: {{ theme.colors.white.color }};
    
    /* Typography */
    --font-family--primary: {{ theme.font_families.primary.styles['font-family'] }};
    --font-family--secondary: {{ theme.font_families.secondary.styles['font-family'] }};

    --font-size--xs: 0.875rem;
    --font-size--sm: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.125), 0.975rem);
    --font-size--base: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.156), 1.125rem);
    --font-size--md: clamp(1.125rem, 1.125rem + ((1vw - 0.2rem) * 0.469), 1.5rem);
    --font-size--lg: clamp(1.375rem, 1.375rem + ((1vw - 0.2rem) * 0.625), 1.875rem);
    --font-size--xl: clamp(1.75rem, 1.75rem + ((1vw - 0.2rem) * 1.719), 3.125rem);
    --font-size--xxl: clamp(2.75rem, 2.75rem + ((1vw - 0.2rem) * 2.031), 4.375rem);
    --font-size--xxxl: clamp(2.813rem, 2.813rem + ((1vw - 0.2rem) * 3.671), 5.75rem);

    /* Spacing */
    --spacing--xxs: 1rem;
    --spacing--xs: clamp(1.563rem, 1.339rem + 0.595vw, 1.875rem);
    --spacing--sm: clamp(1.875rem, 1.429rem + 1.19vw, 2.5rem);
    --spacing--md: clamp(2.5rem, 0.938rem + 4.167vw, 4.688rem);
    --spacing--lg: clamp(3.125rem, 0.893rem + 5.952vw, 6.25rem);
    --spacing--xl: clamp(3.75rem, 0.848rem + 7.738vw, 7.813rem);
    --spacing--xxl: clamp(5rem, 0.536rem + 11.905vw, 11.25rem);
    