{% import './tools/_macros.css' %}
  
{###########################################################################}
{############################   1. Variables   #############################}
{###########################################################################}

/* See ./css-variables.css */

{###########################################################################}
{##################   2. Containers / Grid / DND areas   ###################}
{###########################################################################}

.content-wrapper {
  padding-left: var(--spacing--xs);
  padding-right: var(--spacing--xs);
  max-width: calc(var(--container-width) + var(--spacing--xs) * 2);
}

.dnd-section,
.content-wrapper--vertical-spacing {
  margin: var(--spacing--lg) 0;
}

.dnd-section > .row-fluid  {
  max-width: calc(var(--container-width) + var(--spacing--xs) * 2);
}

{###########################################################################}
{###########################   3. Typography   #############################}
{###########################################################################}

body { 
  color: var(--color--black);
  font-family: var(--font-family--primary);
  font-size: var(--font-size--base);
}

/* Anchors */

a {
  color: var(--color--teal);
}

/* Headings */

h1,
.h1 {
  font-size: var(--font-size--xxl);
}

h2,
.h2 {
  font-size: var(--font-size--xl);
}

h3,
.h3 {
  font-size: var(--font-size--lg);
}

h4,
.h4 {
  font-size: var(--font-size--md);
}

h5,
.h5 {
  font-size: var(--font-size--xs);
}

h6,
.h6 {
  font-size: var(--font-size--xs);
}

{###########################################################################}
{############################   4. Buttons   ###############################}
{###########################################################################}

{###########################################################################}
{##############################   5. Forms   ###############################}
{###########################################################################}

/* Inputs */

form input[type=text],
form input[type=search],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=number],
form input[type=file],
form select,
form textarea {
  border: 1px solid var(--color--mid-gray);
}

/* Form placeholder text */

::-webkit-input-placeholder {
  color: var(--color--mid-gray);
}

::-moz-placeholder {
  color: var(--color--mid-gray);
}

:-ms-input-placeholder {
  color: var(--color--mid-gray);
}

::placeholder {
  color: var(--color--mid-gray);
}

/* Inputs - date picker */

.hs-fieldtype-date .input .hs-dateinput:before {
  color: var(--color--mid-gray);
}

.fn-date-picker td.is-selected .pika-button {
  background: var(--color--black);
}

.fn-date-picker td .pika-button:hover {
  background-color: var(--color--black) !important;
}

.fn-date-picker td.is-today .pika-button {
  color: var(--color--black);
}

{###########################################################################}
{#############################   6. Tables   ###############################}
{###########################################################################}

/* Table */

table {
  border-color: var(--color--mid-gray);
}

{###########################################################################}
{###########################   7. Website header   #########################}
{###########################################################################}

{###########################################################################}
{###########################   8. Website footer   #########################}
{###########################################################################}